@layer base {
  * {
    @apply border-border;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--foreground);
    line-height: 1.5;
  }
}

:root {
  --background: #ffffff;
  --foreground: #111111;

  --card: #ffffff;
  --card-foreground: #111111;
  
  --popover: #ffffff;
  --popover-foreground: #111111;

  --primary: #2a7ae2;
  --primary-foreground: #ffffff;

  --secondary: #fdfdfd;
  --secondary-foreground: #111111;

  --muted: #fdfdfd;
  --muted-foreground: #828282;

  --accent: #2a7ae2;
  --accent-foreground: #ffffff;

  --destructive: #cc0000;
  --destructive-foreground: #ffffff;

  --border: #e8e8e8;
  --input: #e8e8e8;
  --ring: #2a7ae2;

  --radius: 0px;
}
